<template>
  <q-page class="flex column q-pa-md cp">
    <div class="text-bold cp_header-title">Архив</div>
    <q-tabs style="width: max-content" v-model="tab" dense class="text-grey" active-color="primary"
            indicator-color="primary" align="justify" narrow-indicator>
      <q-tab no-caps name="purchases" label="Расход" @click="getPurchases"/>
      <q-tab no-caps name="profits" label="Прибыль" @click="getProfit"/>
    </q-tabs>
    <q-tab-panels style="width: max-content" v-model="tab" >
      <q-tab-panel name="purchases" class="flex column" style="gap: 16px">
        <archive-filter-component @exportExcel="exportExcel" :tab="tab"/>
        <purchase-table :items="purchases" @deleteSelectedItem="deleteSelectedItems"/>
      </q-tab-panel>

      <q-tab-panel name="profits" class="flex column" style="gap: 16px">
        <archive-filter-component @exportExcel="exportExcel" :tab="tab"/>
        <profit-table :items="profits"/>
      </q-tab-panel>
    </q-tab-panels>
  </q-page>
</template>

<script>
import PurchaseTable from 'components/PurchaseTable.vue'
import ArchiveFilterComponent from 'components/ArchiveFilterComponent.vue'
import { excelParser, mainStore } from 'src/store/main-store'
import ProfitTable from 'components/ProfitTable.vue'

export default {
  name: 'ArchivePage',
  components: { ProfitTable, ArchiveFilterComponent, PurchaseTable },
  data () {
    const selected = []
    const store = mainStore()
    return {
      store,
      selected,
      tab: ''
    }
  },
  computed: {
    purchases () {
      return this.store.purchases ?? []
    },
    profits () {
      return this.store.profits ?? []
    }
  },

  methods: {
    deleteSelectedItems (id) {
      if (typeof id === 'string') {
        this.store.deletePurchaseItem(id)
      } else if (typeof id === 'object') {
        for (const el of id) {
          this.store.deletePurchaseItem(el.id)
        }
      }
      this.store.getPurchases('', '')
    },
    exportExcel (val) {
      const arr = []
      let fileName = val, items = [], sum = 0
      if (this.tab === 'purchases') {
        fileName += '(расход)'
        items = this.purchases
        items.forEach(el => {
          sum += parseInt(el.sum)
          arr.push({
            name: el.companyName,
            price: el.sum,
            date: new Date(el.createAt.seconds * 1000).toLocaleDateString()
          })
        })
        arr.push({})
        arr.push({ name: 'Расход:', price: sum, date: '' })
      } else {
        let purSum = 0, prSum = 0, curSum = 0
        fileName += '(прибыль)'
        items = this.profits
        items.forEach(el => {
          arr.push({
            date: new Date(el.date.seconds * 1000).toLocaleDateString(),
            purchase: el.purchases,
            profit: el.profit,
            endProfit: el.endProfit
          })
          purSum += parseInt(el.purchases)
          prSum += parseInt(el.profit)
          curSum += parseInt(el.endProfit)
        })
        arr.push({})
        arr.push({ date: 'Итог:', purchase: purSum, profit: prSum, endProfit: curSum })
      }
      excelParser().exportDataFromJSON(arr, fileName, null)
    },
    getPurchases () {
      this.store.getPurchases('', '')
    },
    getProfit () {
      this.store.getProfits('', '')
    }
  }
}
</script>

<style scoped>

</style>
