<template>
  <q-page class="flex q-pa-md flex-center">
    <q-card style="min-width: 400px; height: max-content">
      <q-tabs v-model="tab" dense class="text-grey" active-color="primary"
              indicator-color="primary" align="justify" narrow-indicator>
        <q-tab no-caps name="login" label="Войти" />
        <q-tab no-caps name="register" label="Зарегистрироваться" />
      </q-tabs>

      <q-tab-panels v-model="tab" animated>
        <q-tab-panel name="login">
          <AuthComponent :tab="tab" />
        </q-tab-panel>

        <q-tab-panel name="register">
          <AuthComponent :tab="tab"/>
        </q-tab-panel>
      </q-tab-panels>
    </q-card>
  </q-page>
</template>

<script>
import { defineComponent } from 'vue'
import AuthComponent from 'components/AuthComponent.vue'

export default defineComponent({
  name: 'IndexPage',
  components: { AuthComponent },
  data () {
    return {
      tab: 'login'
    }
  }
})
</script>
