<template>
  <q-page class="flex column q-pa-md cp">
    <div class="text-bold cp_header-title">Калькулятор</div>
    <div class="flex row cp">
      <purchase-component :items="purchaseData" :date="getNowDate"
                          :sum="purchaseSum" @updateData="updateData"/>
      <profit-component ref="profit" :date="getNowDate"
                        :sum="purchaseSum" @export="exportReport"/>
    </div>
  </q-page>
</template>

<script>

import PurchaseComponent from 'components/PurchaseComponent.vue'
import ProfitComponent from 'components/ProfitComponent.vue'
import { excelParser, mainStore } from 'src/store/main-store'

export default {
  name: 'CalculatePage',
  components: { ProfitComponent, PurchaseComponent },
  data () {
    const store = mainStore()
    return {
      store,
      startDay: false
    }
  },
  computed: {
    purchaseData () {
      return this.store.purchases ?? []
    },
    purchaseSum () {
      let sum = 0
      if (this.purchaseData) {
        this.purchaseData.forEach(el => {
          sum += parseInt(el.sum)
        })
      }
      return sum
    },
    getNowDate () {
      return new Date()
    }
  },
  mounted () {
    this.store.getNowPurchases()
  },
  methods: {
    updateData () {
      this.store.getNowPurchases()
    },
    async exportReport (val) {
      const arr = []
      this.purchaseData.forEach(el => {
        arr.push({
          name: el.companyName,
          price: el.sum,
          date: new Date(el.createAt.seconds * 1000).toLocaleDateString()
        })
      })
      arr.push({ name: 'Непокрытый расход', price: val.newPurchase * (-1), date: '' })
      arr.push({})
      arr.push({ name: 'Расход:', price: val.purchase, date: '' })
      arr.push({ name: 'Прибыль:', price: val.endProfit, date: '' })
      excelParser().exportDataFromJSON(
        arr,
        `Отчет прибыли за ${this.getNowDate.toLocaleDateString()}`,
        null)
      window.location.reload()
    }
  }
}
</script>

<style lang="scss">
.cp{
  gap: 16px;
  &_header-title{
    font-size: 18px;
  }
  &_txt{
    font-size: 14px;
  }
  &_header-table{
    padding-bottom: 8px;
  }
  &_app-panel{
    gap: 8px;
    padding-bottom: 16px;
  }
  &_index-tab{
    width: 20px;
  }
}
</style>
