<template>
  <q-page class="flex q-pa-md">
    Добро пожаловать
  </q-page>
</template>

<script>
import firebase from 'firebase/compat/app'
import 'firebase/compat/auth'
import { mainStore } from 'src/store/main-store'
export default {
  name: 'HomePage',
  data () {
    const store = mainStore()
    return {
      store,
      user: '',
      email: ''
    }
  },
  created () {
    firebase.auth().onAuthStateChanged((auth) => {
      if (auth) {
        this.user = auth.displayName
        this.email = auth.email
      } else {
        console.log('user name is null')
      }
    })
  }
}
</script>

<style scoped>

</style>
