<template>
        <div class="flex column full-width">
          <div class="flex row justify-between bi-align-center" style="margin-bottom: 8px">
            <q-toggle v-model="dense" label="Месяц/День" />
            <q-btn flat round color="primary" @click="exportExcel">
              <q-icon name="file_download" class="material-icons-outlined"/>
              <q-tooltip>Скачать EXCEL</q-tooltip>
            </q-btn>
          </div>
          <div class="flex row no-wrap" style="gap: 8px">
            <q-select v-if="!dense" v-model="month" label="Месяц" outlined dense style="width: 100%" :options="months"/>
            <q-input v-else outlined dense v-model="date" mask="date" label="День" style="width: 100%">
              <template v-slot:append>
                <q-icon name="event" class="cursor-pointer">
                  <q-popup-proxy cover transition-show="scale" transition-hide="scale">
                    <q-date v-model="date" minimal>
                      <div class="row items-center justify-end">
                        <q-btn v-close-popup label="Close" color="primary" flat />
                      </div>
                    </q-date>
                  </q-popup-proxy>
                </q-icon>
              </template>
            </q-input>
            <q-btn style="height: 40px" class="bg-primary text-white" icon="filter_list" no-caps flat @click="filterTable">
              <q-tooltip>Применить фильтр</q-tooltip>
            </q-btn>
            <q-btn style="height: 40px" class="bg-primary text-white" icon="filter_list_off" no-caps flat @click="filterOff">
              <q-tooltip>Отменить фильтр</q-tooltip>
            </q-btn>
          </div>
        </div>
</template>

<script>
import { mainStore } from 'src/store/main-store'

export default {
  name: 'ArchiveFilterComponent',
  props: {
    tab: {
      type: String
    }
  },
  data () {
    const store = mainStore()
    return {
      store,
      date: '',
      month: '',
      dense: false,
      fileName: 'Отчет ',
      months: [
        { label: 'Январь', value: 0 },
        { label: 'Февраль', value: 1 },
        { label: 'Март', value: 2 },
        { label: 'Апрель', value: 3 },
        { label: 'Май', value: 4 },
        { label: 'Июнь', value: 5 },
        { label: 'Июль', value: 6 },
        { label: 'Август', value: 7 },
        { label: 'Сентябрь', value: 8 },
        { label: 'Октябрь', value: 9 },
        { label: 'Ноябрь', value: 10 },
        { label: 'Декабрь', value: 11 }
      ]
    }
  },
  methods: {
    exportExcel () {
      this.$emit('exportExcel', this.fileName)
    },
    filterTable () {
      this.fileName = 'Отчет '
      if (this.dense) {
        this.month = ''
        this.fileName += ' на дату: ' + new Date(this.date).toLocaleDateString()
        this.tab === 'purchases' ? this.store.getPurchases(new Date(this.date).toLocaleDateString(), 'date')
          : this.store.getProfits(new Date(this.date).toLocaleDateString(), 'date')
      } else {
        this.date = ''
        this.fileName += ' за ' + this.month.label
        this.tab === 'purchases' ? this.store.getPurchases(this.month, 'month')
          : this.store.getProfits(this.month, 'month')
      }
    },
    filterOff () {
      this.tab === 'purchases' ? this.store.getPurchases('', '') : this.store.getProfits('', '')
    }
  }
}
</script>
