<template>
  <div>
    <template v-if="tab === 'register'">
      <div class="text-center q-mb-lg" style="font-size: 18px; font-weight: bold">Регистрация</div>
    </template>
    <template v-else>
      <div class="text-center q-mb-lg" style="font-size: 18px; font-weight: bold">Авторизация</div>
    </template>

    <q-form @submit="submitForm">
      <q-input outlined class="q-mb-md" type="email" label="Email" v-model="formData.email" />
      <q-input outlined class="q-mb-md" type="password" label="Password" v-model="formData.password" />
      <div class="text-left q-my-md">
        <q-btn flat label="Забыли пароль?" color="secondary" class="text-capitalize rounded-borders" size="12px"
               v-if="tab !== 'register'" @click="forgotPassword" />
      </div>
      <div class="row justify-center">
        <q-btn type="submit" color="primary" flat round @click="google">
          <q-img src="~assets/icons8-google.svg" width="30px"/>
          <q-tooltip>Войти через Google</q-tooltip>
        </q-btn>
        <q-btn type="submit" color="primary" flat round>
          <q-icon name="login" class="material-icons-outlined"/>
          <q-tooltip>Войти</q-tooltip>
        </q-btn>
      </div>
    </q-form>
    <q-dialog v-model="resetPwdDialog">
      <ForgotPassword />
    </q-dialog>
  </div>
</template>

<script>
import ForgotPassword from 'components/ForgotPassword.vue'
import firebase from 'firebase/compat/app'
import 'firebase/compat/auth'

export default {
  name: 'AuthComponent',
  components: { ForgotPassword },
  props: ['tab'],
  data () {
    return {
      formData: {
        email: '',
        password: ''
      },
      resetPwdDialog: false
    }
  },
  methods: {
    submitForm () {
      if (this.tab === 'login') {
        this.signInExistingUser(this.formData.email, this.formData.password)
      } else {
        this.createUser(this.formData.email, this.formData.password)
      }
    },
    google () {
      const provider = new firebase.auth.GoogleAuthProvider()
      firebase.auth().signInWithPopup(provider).then(result => {
        this.$q.notify({
          message: 'Sign In Success.'
        })
        this.$router.push('/home')
      }).catch(error => console.log(error))
    },
    signInExistingUser (email, password) {
      firebase.auth().signInWithEmailAndPassword(email, password).then((userCredential) => {
        this.$q.notify({
          message: 'Sign In Success.'
        })
        this.$router.push('/home')
      }).catch(error => console.log(error))
    },
    createUser (email, password) {
      firebase.auth().createUserWithEmailAndPassword(email, password).then(auth => {
        this.$q.notify({
          message: 'Sign In Success.'
        })
        this.$router.push('/home')
      }).catch(error => console.log(error))
    },
    forgotPassword () {
      this.resetPwdDialog = true
    }
  }
}
</script>

<style scoped>

</style>
