<template>
  <q-card flat bordered style="height: max-content">
    <div class="flex column bg-grey-2 card-header">
      <div class="flex row justify-between cp_header-table cp_txt">
        <div>Прибыль</div>
        <div class="text-bold" v-html="date.toLocaleDateString()"/>
      </div>
      <div class="flex row no-wrap cp_app-panel">
        <q-input class="bg-white" type="number" dense outlined label="Выручка за день" v-model="profitObj.profit"/>
        <q-btn flat no-caps label="Рассчитать" color="white" class="bg-primary"
               :disabled="!profitObj.profit || isUpdate" @click="calculatedProfit"/>
      </div>
    </div>
    <q-separator/>
    <q-card-section class="flex column">
      <div class="flex row justify-between">
        <div>Выручка:</div>
        <div v-html="profitObj.profit"/>
      </div>
      <div class="flex row justify-between">
        <div>Расход:</div>
        <div v-html="sum"/>
      </div>
      <div v-if="newPurchase > 0" class="flex row justify-between">
        <div>Выручка не покрыла затраты:</div>
        <div v-html="newPurchase"/>
      </div>
      <div class="end-profit"/>
      <div class="text-bold flex row justify-between">
        <div>Итог:</div>
        <div v-html="profitObj.endProfit"/>
      </div>
      <div v-if="newPurchase" style="font-size: 12px; color: red">
        Непокрытый расход переносится на следующий день
      </div>
      <q-btn @click="saveAndExport" v-show="profitObj.profit && !isUpdate" flat no-caps color="white"
             class="bg-primary q-btn-save" label="Сохранить и скачать отчет"/>
    </q-card-section>
  </q-card>
</template>

<script>

import { mainStore } from 'src/store/main-store'

export default {
  name: 'ProfitComponent',
  props: {
    date: {
      type: Date
    },
    sum: {
      type: Number
    }
  },
  data () {
    const store = mainStore()
    return {
      store,
      isUpdate: false,
      newPurchase: 0,
      profitObj: {
        date: null,
        profit: undefined,
        purchases: undefined,
        endProfit: undefined
      }
    }
  },
  mounted () {
    this.store.isReportToday().then(report => {
      if (report) {
        this.isUpdate = true
        this.profitObj = report
      } else {
        this.isUpdate = false
        this.profitObj.date = new Date()
        this.profitObj.profit = undefined
        this.profitObj.purchases = this.sum
        this.profitObj.endProfit = undefined
      }
    })
  },
  methods: {
    calculatedProfit () {
      const sum = this.profitObj.profit - this.sum
      if (sum < 0) {
        this.newPurchase = sum * (-1)
        this.profitObj.purchases = this.sum - this.newPurchase
        this.profitObj.endProfit = 0
        this.store.addPurchaseItem({
          createAt: new Date(),
          companyName: 'Непокрытый расход',
          sum
        })
        this.store.addPurchaseItem({
          createAt: new Date(new Date().setDate(new Date().getDate() + 1)),
          companyName: 'Остаток расхода',
          sum: this.newPurchase
        })
      } else {
        this.profitObj.endProfit = sum
        this.profitObj.purchases = this.sum
      }
    },
    saveAndExport () {
      if (this.isUpdate) {
        this.$q.notify({
          message: 'Отчет уже сохранен и загружен'
        })
      } else {
        this.store.addProfitItem(this.profitObj)
      }
      this.$emit('export', {
        endProfit: this.profitObj.endProfit,
        purchase: this.profitObj.purchases,
        newPurchase: this.newPurchase
      })
    }
  }
}
</script>

<style scoped>
.card-header{
  padding: 7px 16px;
}
.end-profit{
  border: 1.5px solid black;
  width: 100%;
  margin: 4px 0;
}
.q-btn-save{
  margin-top: 16px;
}
</style>
