<template>
  <q-table separator="cell" flat bordered :rows="items" :columns="columnsProfit"/>
</template>

<script>
const columnsProfit = [
  { name: 'index', align: 'right', label: '№', field: 'index' },
  { name: 'createAt', align: 'right', label: 'Дата', field: row => new Date(row.date.seconds * 1000).toLocaleDateString(), sortable: true },
  { name: 'purchases', label: 'Расход', align: 'left', field: row => row.purchases, format: val => `${val}` },
  { name: 'profit', align: 'right', label: 'Выручка', field: 'profit' },
  { name: 'endProfit', align: 'right', label: 'Прибыль', field: 'endProfit' }
]
export default {
  name: 'ProfitTable',
  props: {
    items: {
      type: Array
    }
  },
  data () {
    return {
      columnsProfit
    }
  }
}
</script>

<style scoped>

</style>
