<template>
  <q-table separator="cell" flat bordered :rows="items" :columns="columns"
           v-model:selected="selected" selection="multiple">
    <template v-slot:header-cell-action="props">
      <q-th :props="props">
        <q-btn v-if="selected.length" flat round size="10px" color="red"
               @click="deleteSelectedItems('selected')">
          <q-icon name="delete" class="material-icons-outlined"/>
          <q-tooltip>Удалить выбранные</q-tooltip>
        </q-btn>
      </q-th>
    </template>
    <template v-slot:body-cell-action="props">
      <q-td :props="props">
        <q-btn flat round size="10px" color="red" @click="deleteSelectedItems('single', props.key)">
          <q-icon name="delete" class="material-icons-outlined"/>
          <q-tooltip>Удалить</q-tooltip>
        </q-btn>
      </q-td>
    </template>
  </q-table>
</template>

<script>
const columns = [
  { name: 'index', align: 'right', label: '№', field: 'index' },
  { name: 'companyName', label: 'Поставщик', align: 'left', field: row => row.companyName, format: val => `${val}` },
  { name: 'sum', align: 'right', label: 'Сумма', field: 'sum' },
  { name: 'createAt', align: 'right', label: 'Дата', field: row => new Date(row.createAt.seconds * 1000).toLocaleDateString(), sortable: true },
  { name: 'action', align: 'right', label: '', field: 'action' }
]
export default {
  name: 'PurchaseTable',
  props: {
    items: {
      type: Array
    }
  },
  data () {
    const selected = []
    return {
      selected,
      columns
    }
  },
  methods: {
    deleteSelectedItems (mode, id) {
      switch (mode) {
        case 'selected':
          this.$emit('deleteSelectedItem', this.selected)
          break
        case 'single':
          this.$emit('deleteSelectedItem', id)
      }
    }
  }
}
</script>
