<template>
  <div class="flex column" style="height: max-content">
    <q-markup-table flat bordered separator="cell">
      <thead class="bg-grey-2">
      <tr>
        <th colspan="5">
          <div class="flex row justify-between cp_header-table cp_txt">
            <div>Расход</div>
            <div v-html="date.toLocaleDateString()"/>
          </div>
          <div class="flex row no-wrap cp_app-panel">
            <q-input class="bg-white" dense outlined label="Поставщик" v-model="itemOdj.companyName"/>
            <q-input class="bg-white" dense outlined label="Сумма" type="number" v-model="itemOdj.sum"/>
            <q-btn flat no-caps label="Добавить" color="white" class="bg-primary"
                   @click="addItem" :disabled="isUpdate"/>
          </div>
          <div class="flex row justify-end cp_txt">Общая сумма: {{sum}}</div>
        </th>
      </tr>
      <tr>
        <th class="text-right cp_index-tab">№</th>
        <th class="text-left">Поставщик</th>
        <th class="text-right">Сумма</th>
        <th class="cp_index-tab"/>
      </tr>
      </thead>
      <tbody :class="$q.dark.isActive ? 'bg-grey-2' : 'white'">
      <tr v-for="(item, i) in items" :key="i">
        <td class="text-right" v-html="i+1"/>
        <td class="text-left" v-html="item.companyName"/>
        <td class="text-right" v-html="item.sum"/>
        <td class="text-center">
          <q-btn flat round size="10px" color="red" @click="deleteItem(item.id)" :disabled="isUpdate">
            <q-icon name="delete" class="material-icons-outlined"/>
          </q-btn>
        </td>
      </tr>
      </tbody>
    </q-markup-table>
  </div>
</template>

<script>
import { mainStore } from 'src/store/main-store'

export default {
  name: 'PurchaseComponent',
  props: {
    date: {
      type: Date
    },
    items: {
      type: Array
    },
    sum: {
      type: Number
    }
  },
  data () {
    const store = mainStore()
    return {
      store,
      isUpdate: false,
      itemOdj: {
        companyName: '',
        sum: null
      }
    }
  },
  mounted () {
    this.store.isReportToday().then(res => {
      this.isUpdate = !!res
    }).catch(() => { this.isUpdate = false })
  },
  methods: {
    addItem () {
      this.itemOdj.createAt = new Date()
      this.store.addPurchaseItem(this.itemOdj)
      this.itemOdj = {}
      this.$emit('updateData')
    },
    deleteItem (id) {
      this.store.deletePurchaseItem(id)
      this.$emit('updateData')
    }
  }
}
</script>
