<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn v-show="$route.fullPath !== '/'" flat dense round icon="menu" aria-label="Menu" @click="toggleLeftDrawer"/>

        <q-toolbar-title>
          Shop Application
        </q-toolbar-title>

        <div>v0.1</div>
      </q-toolbar>
    </q-header>

    <q-drawer v-if="$route.fullPath !== '/'" v-model="leftDrawerOpen" show-if-above bordered>
      <q-list>
        <q-item-label header>
          Меню
        </q-item-label>

        <EssentialLink v-for="link in essentialLinks" :key="link.title" v-bind="link"/>
        <q-item clickable @click="logout">
          <q-item-section avatar>
            <q-icon name="logout" />
          </q-item-section>

          <q-item-section>
            <q-item-label>Выйти</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { defineComponent, ref } from 'vue'
import EssentialLink from 'components/EssentialLink.vue'
import firebase from 'firebase/compat/app'
import 'firebase/compat/auth'

const linksList = [
  {
    title: 'Главная',
    icon: 'home',
    link: '/home'
  },
  {
    title: 'Калькулятор прибыли',
    icon: 'calculate',
    caption: 'Учет расхода и дохода',
    link: '/calculate'
  },
  // {
  //   title: 'Спавочники',
  //   icon: 'book',
  //   link: ''
  // },
  {
    title: 'Архив',
    icon: 'archive',
    link: '/archive'
  }
]

export default defineComponent({
  name: 'MainLayout',

  components: {
    EssentialLink
  },

  setup () {
    const leftDrawerOpen = ref(false)

    return {
      essentialLinks: linksList,
      leftDrawerOpen,
      toggleLeftDrawer () {
        leftDrawerOpen.value = !leftDrawerOpen.value
      }
    }
  },
  methods: {
    logout () {
      firebase.auth().signOut()
      this.$router.push('/').then(() => {
        this.$q.notify({ message: 'Sign Out Success.' })
      }).catch(error => console.log('error', error))
    }
  }
})
</script>
